.home{
    width: 100%;
    height: 100vh;
    background-image: url(military.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar{
    font-size: 20px;
}

.navbar-home{
    font-size: 20px;
    background-color: transparent;
}

.navbar .navbar-brand{
    font-size: 26px;
}

.selected{
    font-weight: 700;
}

.sidebar{
    border-right: 1px solid grey;
    height: 89vh;
    
}

.dropdown {
    width: 75%;
    margin: 20px auto;
    overflow: visible;
}


.rangeSlider{
    width: 100%;
    height: 10%;
}

.visualisation {
    height: 89vh;
}

.visualisation .plot{
    width: 100%;
    height: 90%;
}

.accordian-space{
    margin-top: 50px;
    margin-bottom: 200px;
}