

.banner Img{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    right: 10px;
    height: 75px;
}

  /* unvisited link */
sub-page:link {
  color: rgb(52, 115, 227);
  background-color:white;
}


/* mouse over link */
.A Ul:hover {
  color: #ffffff;
  background-color:black;
}


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px 30px;
    min-height:70px;
    border-bottom:6px solid #e8491d;
}
.A{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:20px;
}
.A{
    float:left;
    display:inline;
    padding:0 15px;
}
.branding{
    margin:0;
    padding:0;
    float:left;
    font-size:20px;
}
.A Li:hover{

    color:#ffffff;
    font-weight:bold;
}
.A{
    color:#e8491d;
    font-weight:bold;
}
.A Li{
    float:left;
    display:inline;
    padding:0 15px;
}
.A{
    float:right;
    margin-top:30px;
}

#navTabs{
    border: none;
}

#navTabs .navTabLink{
    border: none;
    background: none;
    font-weight: 400;
}

#navTabs .navTabLink--selected{
    font-weight: 700;
}
